In [ ]:
%%sql
CREATE TABLE Costumers (Costumer_ID INT PRIMARY KEY, Name TEXT, Gender TEXT, 
                        Adress VARCHAR(255), Birthdate INT, Phone INT);

In [ ]:
%%sql
CREATE TABLE Login_Information (Costumer_ID INT PRIMARY KEY, Username VARCHAR(255), Password VARCHAR(255));

In [ ]:
%%sql
CREATE TABLE Pizza (Pizza_ID INTEGER, Name TEXT, Ingridients TEXT, 
                    Dietary_information TEXT, Price DOUBLE);

In [ ]:
%%sql
CREATE TABLE Pizza_order (Order_number INTEGER PRIMARY KEY, Pizza_ID INTEGER);

In [ ]:
%%sql
CREATE TABLE Addiional_Items (Additional_ID INTEGER, Item TEXT, Price DOUBLE);

In [ ]:
%%sql
CREATE TABLE Additional_Items_Order(Order_number INTEGER, Additional_ID INTEGER);

In [ ]:
%%sql
CREATE TABLE Order (Order_number INTEGER PRIMARY KEY, Costumer_ID INTEGER,
                    Date DATE, Time TIME, Price DOUBLE);

In [ ]:
%%sql
CREATE TABLE Delivery(Status TEXT, Time_delivery TIME, Delivery_person INTEGER, 
                      Order_number INTEGER);

In [ ]:
%%sql
CREATE TABLE Delivery_Employee(Delivery_ID INTEGER PRIMARY KEY , 
                            Assigned_area VARCHAR(10), Availability TEXT);