In [ ]:
%%sql
CREATE TABLE Customers (
  `CustomerID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `Gender` TEXT,
  `Address` VARCHAR(255),
  `Birthdate` INTEGER,
  `Phone` INTEGER
);

In [ ]:
%%sql
USE project;

In [ ]:
%%sql
CREATE DATABASE project;

In [19]:
%%sql
CREATE TABLE OrderInfo (
  `OrderNumber` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `CustomerID` INTEGER,
  `Date` Date,
  `Time` Time,
  `Price` DOUBLE,
  FOREIGN KEY (`CustomerID`) REFERENCES Customers (`CustomerID`) 
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [20]:
%%sql
CREATE TABLE MenuItemsOrder (
  `OrderNumber` INTEGER,
  `MenuItemsID` INTEGER,
  FOREIGN KEY (`OrderNumber`) REFERENCES OrderInfo (`OrderNumber`),
  FOREIGN KEY (`MenuItemsID`) REFERENCES MenuItems (`MenuItemsID`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [ ]:
%%sql
CREATE TABLE MenuItems (
  `MenuItemsID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `Price` DOUBLE 
);

In [32]:
%%sql
CREATE TABLE PizzaOrder (
  `OrderNumber` INTEGER,
  `PizzaID` INTEGER,
  FOREIGN KEY (`OrderNumber`) REFERENCES OrderInfo (`OrderNumber`),
  FOREIGN KEY (`PizzaID`) REFERENCES Pizza (`PizzaID`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [28]:
%%sql
CREATE TABLE Pizza (
  `PizzaID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `DietaryInfo` TEXT,
  `Price` DOUBLE
);

In [7]:
%%sql
CREATE TABLE LoginInformation (
  `CustomerID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Username` VARCHAR(255),
  `Password` VARCHAR(255),
  FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [ ]:
%%sql
CREATE TABLE DeliveryPerson (
  `DeliveryID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `AssignedArea` VARCHAR(10),
  `Availability` TEXT
);

In [23]:
%%sql
CREATE TABLE Delivery (
  `OrderNumber` INTEGER,
  `DeliveryID` INTEGER,
   `Status` TEXT,
  `DeliveryTime` Time,
  FOREIGN KEY (`DeliveryID`) REFERENCES DeliveryPerson (`DeliveryID`),
  FOREIGN KEY (OrderNumber) REFERENCES OrderInfo (`OrderNumber`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [ ]:
%%sql

CREATE TABLE Ingridients (
  `IngridientID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `Price` DOUBLE
);

In [24]:
%%sql
CREATE TABLE PizzaIngridients (
  `PizzaID` INTEGER,
  `IngridientID` INTEGER,
  `DietaryInfo` TEXT,
  `Price` DOUBLE,
  FOREIGN KEY (`PizzaID`) REFERENCES `Pizza`(`PizzaID`),
  FOREIGN KEY (`IngridientID`) REFERENCES `Ingridients`(`IngridientID`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [36]:
%%sql
INSERT INTO Ingridients (Name, Price) VALUES 
   ('Tomato sauce', 0.50),
   ('Mozzarella', 1.00), 
   ('Pepperoni', 1.50), 
   ('Mushrooms', 0.70), 
   ('Olives', 0.40), 
   ('Basil', 0.30),
   ('Onions', 0.20),
   ('Bell Peppers', 0.50),
   ('Sausage', 1.50),   
   ('Pineapple', 1.50);

In [21]:
import sqlalchemy
print(sqlalchemy.__version__)

1.4.39

In [82]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Text
from sqlalchemy.orm import declarative_base, relationship
from sqlalchemy import Column, Date

username = 'root'
password = 'anastasia23'
host = 'localhost'
port = '3306'
database = 'project'
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}:{port}/{database}', echo=True)

metadata = MetaData(bind=engine)
metadata.reflect(bind=engine)

Base = declarative_base(metadata=metadata)

class Customer(Base):
    __tablename__ = 'Customers'
    CustomerID = Column(Integer, primary_key=True, autoincrement=True)
    Name = Column(Text)
    Gender = Column(Text)
    Address = Column(String(255))
    Birthdate = Column(Date)
    Phone = Column(String(255))

    orders = relationship("OrderInfo", order_by="OrderInfo.OrderNumber", back_populates="customer")
    login_information = relationship("LoginInformation", uselist=False, back_populates="customer")

    def __repr__(self):
            return "<Customer(Name='%s', Gender='%s', Adress='%s', Birthdate='%s', Phone = '%s')>" % (
                self.Name, self.Gender, self.Adress, self.Birthdate, self.Phone)

2024-09-18 16:50:07,865 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2024-09-18 16:50:07,866 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,869 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2024-09-18 16:50:07,870 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,871 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2024-09-18 16:50:07,872 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,874 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `project`
2024-09-18 16:50:07,875 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,884 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `customers`
2024-09-18 16:50:07,884 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,888 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `delivery`
2024-09-18 16:50:07,889 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,892 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s), (%(table_data_2_1)s, %(table_data_2_2)s, %(table_data_2_3)s));

2024-09-18 16:50:07,892 INFO sqlalchemy.engine.Engine [generated in 0.00070s] {'table_data_1_1': 'project', 'table_data_1_2': 'deliveryperson', 'table_data_1_3': 'DeliveryID', 'table_data_2_1': 'project', 'table_data_2_2': 'orderinfo', 'table_data_2_3': 'OrderNumber'}
2024-09-18 16:50:07,908 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `deliveryperson`
2024-09-18 16:50:07,908 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,911 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `orderinfo`
2024-09-18 16:50:07,912 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,915 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2024-09-18 16:50:07,916 INFO sqlalchemy.engine.Engine [cached since 0.02392s ago] {'table_data_1_1': 'project', 'table_data_1_2': 'customers', 'table_data_1_3': 'CustomerID'}
2024-09-18 16:50:07,919 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `ingridients`
2024-09-18 16:50:07,920 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,922 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `logininformation`
2024-09-18 16:50:07,923 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,926 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s));

2024-09-18 16:50:07,926 INFO sqlalchemy.engine.Engine [cached since 0.03451s ago] {'table_data_1_1': 'project', 'table_data_1_2': 'customers', 'table_data_1_3': 'CustomerID'}
2024-09-18 16:50:07,929 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `menuitems`
2024-09-18 16:50:07,930 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,933 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `menuitemsorder`
2024-09-18 16:50:07,933 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,936 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s), (%(table_data_2_1)s, %(table_data_2_2)s, %(table_data_2_3)s));

2024-09-18 16:50:07,936 INFO sqlalchemy.engine.Engine [cached since 0.04471s ago] {'table_data_1_1': 'project', 'table_data_1_2': 'orderinfo', 'table_data_1_3': 'OrderNumber', 'table_data_2_1': 'project', 'table_data_2_2': 'menuitems', 'table_data_2_3': 'MenuItemsID'}
2024-09-18 16:50:07,953 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `pizza`
2024-09-18 16:50:07,953 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,957 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `pizzaingridients`
2024-09-18 16:50:07,958 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,961 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s), (%(table_data_2_1)s, %(table_data_2_2)s, %(table_data_2_3)s));

2024-09-18 16:50:07,962 INFO sqlalchemy.engine.Engine [cached since 0.0701s ago] {'table_data_1_1': 'project', 'table_data_1_2': 'pizza', 'table_data_1_3': 'PizzaID', 'table_data_2_1': 'project', 'table_data_2_2': 'ingridients', 'table_data_2_3': 'IngridientID'}
2024-09-18 16:50:07,986 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `pizzaorder`
2024-09-18 16:50:07,987 INFO sqlalchemy.engine.Engine [raw sql] {}
2024-09-18 16:50:07,990 INFO sqlalchemy.engine.Engine
                    select table_schema, table_name, column_name
                    from information_schema.columns
                    where (table_schema, table_name, lower(column_name)) in
                    ((%(table_data_1_1)s, %(table_data_1_2)s, %(table_data_1_3)s), (%(table_data_2_1)s, %(table_data_2_2)s, %(table_data_2_3)s));

2024-09-18 16:50:07,992 INFO sqlalchemy.engine.Engine [cached since 0.1002s ago] {'table_data_1_1': 'project', 'table_data_1_2': 'orderinfo', 'table_data_1_3': 'OrderNumber', 'table_data_2_1': 'project', 'table_data_2_2': 'pizza', 'table_data_2_3': 'PizzaID'}

In [18]:
repr(Customer.__table__)

"Table('Customers', MetaData(bind=Engine(mysql+pymysql://root:***@localhost:3306/project)), Column('CustomerID', Integer(), table=<Customers>, primary_key=True, nullable=False), Column('Name', Text(), table=<Customers>), Column('Gender', Text(), table=<Customers>), Column('Address', String(length=255), table=<Customers>), Column('Birthdate', Text(length=255), table=<Customers>), Column('Phone', String(length=255), table=<Customers>), schema=None)"

In [19]:
Base.metadata.create_all(engine)

2024-09-18 13:38:34,987 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 13:38:34,989 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:34,990 INFO sqlalchemy.engine.Engine [generated in 0.00093s] {'table_schema': 'project', 'table_name': 'customers'}
2024-09-18 13:38:34,997 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:34,998 INFO sqlalchemy.engine.Engine [cached since 0.009984s ago] {'table_schema': 'project', 'table_name': 'delivery'}
2024-09-18 13:38:35,003 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,003 INFO sqlalchemy.engine.Engine [cached since 0.0148s ago] {'table_schema': 'project', 'table_name': 'deliveryperson'}
2024-09-18 13:38:35,006 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,007 INFO sqlalchemy.engine.Engine [cached since 0.01877s ago] {'table_schema': 'project', 'table_name': 'orderinfo'}
2024-09-18 13:38:35,011 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,011 INFO sqlalchemy.engine.Engine [cached since 0.02247s ago] {'table_schema': 'project', 'table_name': 'ingridients'}
2024-09-18 13:38:35,014 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,015 INFO sqlalchemy.engine.Engine [cached since 0.02599s ago] {'table_schema': 'project', 'table_name': 'logininformation'}
2024-09-18 13:38:35,017 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,018 INFO sqlalchemy.engine.Engine [cached since 0.02953s ago] {'table_schema': 'project', 'table_name': 'menuitems'}
2024-09-18 13:38:35,020 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,021 INFO sqlalchemy.engine.Engine [cached since 0.0323s ago] {'table_schema': 'project', 'table_name': 'menuitemsorder'}
2024-09-18 13:38:35,024 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,025 INFO sqlalchemy.engine.Engine [cached since 0.03684s ago] {'table_schema': 'project', 'table_name': 'pizza'}
2024-09-18 13:38:35,028 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,029 INFO sqlalchemy.engine.Engine [cached since 0.04031s ago] {'table_schema': 'project', 'table_name': 'pizzaingridients'}
2024-09-18 13:38:35,033 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,034 INFO sqlalchemy.engine.Engine [cached since 0.04546s ago] {'table_schema': 'project', 'table_name': 'pizzaorder'}
2024-09-18 13:38:35,037 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-09-18 13:38:35,038 INFO sqlalchemy.engine.Engine [cached since 0.04883s ago] {'table_schema': 'project', 'table_name': 'Customers'}
2024-09-18 13:38:35,040 INFO sqlalchemy.engine.Engine COMMIT

In [55]:
from datetime import date
new_customer = Customer(
    Name='Denisa Nastasa',
    Gender='Female',
    Address='Mathijs Heugenstraat 15, Maastricht',
    Birthdate=date(2004, 9, 20),
    Phone='0758563220'
)

In [52]:
new_customer.Name

'Denisa Nastasa'

In [23]:
str(new_customer.CustomerID)

'None'

In [39]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [59]:
session.add(new_customer)

In [35]:
%%sql
ALTER TABLE Customers MODIFY COLUMN Birthdate DATE;

In [40]:
from datetime import date

session.add_all([
    Customer(Name='Denisa Nastasa',
             Gender='Female',
             Address='Mathijs Heugenstraat 15, Maastricht',
             Birthdate=date(2004, 9, 20),
             Phone='0758563220'),

    Customer(Name='Tom Janssen',
             Gender='Male',
             Address='Frankenstraat 112, Maastricht',
             Birthdate=date(1993, 4, 15),
             Phone='0612345678'),

    Customer(Name='Emma de Jong',
             Gender='Female',
             Address='Sint Pieterstraat 7, Maastricht',
             Birthdate=date(1989, 2, 22),
             Phone='0687654321'),

    Customer(Name='Lars van Dijk',
             Gender='Male',
             Address='Stationsstraat 12, Maastricht',
             Birthdate=date(2000, 11, 30),
             Phone='0610987654'),

    Customer(Name='Sophie Vermeulen',
             Gender='Female',
             Address='Céramique 25, Maastricht',
             Birthdate=date(1995, 7, 7),
             Phone='0623456789')
])

session.commit()

2024-09-18 14:04:11,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 14:04:11,674 INFO sqlalchemy.engine.Engine INSERT INTO `Customers` (`Name`, `Gender`, `Address`, `Birthdate`, `Phone`) VALUES (%(Name)s, %(Gender)s, %(Address)s, %(Birthdate)s, %(Phone)s)
2024-09-18 14:04:11,675 INFO sqlalchemy.engine.Engine [generated in 0.00146s] {'Name': 'Denisa Nastasa', 'Gender': 'Female', 'Address': 'Mathijs Heugenstraat 15, Maastricht', 'Birthdate': datetime.date(2004, 9, 20), 'Phone': '0758563220'}
2024-09-18 14:04:11,678 INFO sqlalchemy.engine.Engine INSERT INTO `Customers` (`Name`, `Gender`, `Address`, `Birthdate`, `Phone`) VALUES (%(Name)s, %(Gender)s, %(Address)s, %(Birthdate)s, %(Phone)s)
2024-09-18 14:04:11,679 INFO sqlalchemy.engine.Engine [cached since 0.005409s ago] {'Name': 'Tom Janssen', 'Gender': 'Male', 'Address': 'Frankenstraat 112, Maastricht', 'Birthdate': datetime.date(1993, 4, 15), 'Phone': '0612345678'}
2024-09-18 14:04:11,681 INFO sqlalchemy.engine.Engine INSERT INTO `Customers` (`Name`, `Gender`, `Address`, `Birthdate`, `Phone`) VALUES (%(Name)s, %(Gender)s, %(Address)s, %(Birthdate)s, %(Phone)s)
2024-09-18 14:04:11,682 INFO sqlalchemy.engine.Engine [cached since 0.008388s ago] {'Name': 'Emma de Jong', 'Gender': 'Female', 'Address': 'Sint Pieterstraat 7, Maastricht', 'Birthdate': datetime.date(1989, 2, 22), 'Phone': '0687654321'}
2024-09-18 14:04:11,684 INFO sqlalchemy.engine.Engine INSERT INTO `Customers` (`Name`, `Gender`, `Address`, `Birthdate`, `Phone`) VALUES (%(Name)s, %(Gender)s, %(Address)s, %(Birthdate)s, %(Phone)s)
2024-09-18 14:04:11,685 INFO sqlalchemy.engine.Engine [cached since 0.01171s ago] {'Name': 'Lars van Dijk', 'Gender': 'Male', 'Address': 'Stationsstraat 12, Maastricht', 'Birthdate': datetime.date(2000, 11, 30), 'Phone': '0610987654'}
2024-09-18 14:04:11,687 INFO sqlalchemy.engine.Engine INSERT INTO `Customers` (`Name`, `Gender`, `Address`, `Birthdate`, `Phone`) VALUES (%(Name)s, %(Gender)s, %(Address)s, %(Birthdate)s, %(Phone)s)
2024-09-18 14:04:11,688 INFO sqlalchemy.engine.Engine [cached since 0.01435s ago] {'Name': 'Sophie Vermeulen', 'Gender': 'Female', 'Address': 'Céramique 25, Maastricht', 'Birthdate': datetime.date(1995, 7, 7), 'Phone': '0623456789'}
2024-09-18 14:04:11,691 INFO sqlalchemy.engine.Engine COMMIT

In [64]:
session.dirty

IdentitySet([])

In [62]:
new_customer.CustomerID

9

In [61]:
session.commit()

2024-09-18 14:14:28,914 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-09-18 14:14:28,916 INFO sqlalchemy.engine.Engine INSERT INTO `Customers` (`Name`, `Gender`, `Address`, `Birthdate`, `Phone`) VALUES (%(Name)s, %(Gender)s, %(Address)s, %(Birthdate)s, %(Phone)s)
2024-09-18 14:14:28,918 INFO sqlalchemy.engine.Engine [cached since 617.2s ago] {'Name': 'Denisa Nastasa', 'Gender': 'Female', 'Address': 'Mathijs Heugenstraat 15, Maastricht', 'Birthdate': datetime.date(2004, 9, 20), 'Phone': '0758563220'}
2024-09-18 14:14:28,922 INFO sqlalchemy.engine.Engine COMMIT

In [102]:
from sqlalchemy import Column, Integer, Date, Time, Float, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class OrderInfo(Base):
    __tablename__ = 'OrderInfo'

    OrderNumber = Column(Integer, primary_key=True, autoincrement=True)
    CustomerID = Column(Integer, ForeignKey('Customers.CustomerID', ondelete='CASCADE', onupdate='CASCADE'))
    Date = Column(Date)
    Time = Column(Time)
    Price = Column(Float)

    customer = relationship("Customer",back_populates="orders")
    menu_items = relationship("MenuItemsOrder", back_populates="order")
    pizza_orders = relationship("PizzaOrder", back_populates="order")
    delivery = relationship("Delivery", uselist=False, back_populates="order")

In [83]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class LoginInformation(Base):
    __tablename__ = 'LoginInformation'
    CustomerID = Column(Integer, ForeignKey('Customers.CustomerID'), primary_key=True)
    Username = Column(String(255))
    Password = Column(String(255))

customer = relationship("Customer", back_populates="login_information")

def __repr__(self):
    return "<LoginInformation(CustomerID='%s', Username='%s', Password='%s')>" % (
        self.CustomerID, self.Username, self.Password)

In [87]:
from sqlalchemy import Column, Integer, Text, Float
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class MenuItems(Base):
    __tablename__ = 'MenuItems'

    MenuItemsID = Column(Integer, primary_key=True, autoincrement=True)
    Name = Column(Text)
    Price = Column(Float)

    orders = relationship("MenuItemsOrder", back_populates="menu_item")

    def __repr__(self):
        return f"<MenuItems(MenuItemsID={self.MenuItemsID}, Name='{self.Name}', Price={self.Price})>"

In [94]:
from sqlalchemy import Column, Integer, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class MenuItemsOrder(Base):
    __tablename__ = 'MenuItemsOrder'

    OrderNumber = Column(Integer, ForeignKey('OrderInfo.OrderNumber', ondelete='CASCADE', onupdate='CASCADE'), primary_key=True)
    MenuItemsID = Column(Integer, ForeignKey('MenuItems.MenuItemsID', ondelete='CASCADE', onupdate='CASCADE'))

    order = relationship("OrderInfo", back_populates="menu_items")
    menu_item = relationship("MenuItems", order_by="MenuItems.MenuItemsID", back_populates="menu_items")

    def __repr__(self):
        return f"<MenuItemsOrder(OrderNumber={self.OrderNumber}, MenuItemsID={self.MenuItemsID})>"

In [105]:
from sqlalchemy import Column, Integer, Text, Float
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Pizza(Base):
    __tablename__ = 'Pizza'

    PizzaID = Column(Integer, primary_key=True, autoincrement=True)
    Name = Column(Text)
    DietaryInfo = Column(Text)
    Price = Column(Float)

pizza_orders = relationship("PizzaOrder", back_populates="pizza")
pizza_ingridients = relationship("PizzaIngridients", back_populates="pizza")


def __repr__(self):
    return f"<Pizza(PizzaID={self.PizzaID}, Name='{self.Name}', DietaryInfo='{self.DietaryInfo}', Price={self.Price})>"

In [98]:
from sqlalchemy import Column, Integer, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class PizzaOrder(Base):
    __tablename__ = 'PizzaOrder'

    OrderNumber = Column(Integer, ForeignKey('OrderInfo.OrderNumber', ondelete='CASCADE', onupdate='CASCADE'), primary_key=True)
    PizzaID = Column(Integer, ForeignKey('Pizza.PizzaID', ondelete='CASCADE', onupdate='CASCADE'))

    order = relationship("OrderInfo", back_populates="pizza_orders")
    pizza = relationship("Pizza", back_populates="pizza_orders")

    def __repr__(self):
        return f"<PizzaOrder(OrderNumber={self.OrderNumber}, PizzaID={self.PizzaID})>"

In [100]:
from sqlalchemy import Column, Integer, String, Text
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class DeliveryPerson(Base):
    __tablename__ = 'DeliveryPerson'

    DeliveryID = Column(Integer, primary_key=True, autoincrement=True)
    AssignedArea = Column(String(10))
    Availability = Column(Text)

    deliveries = relationship("Delivery", back_populates="delivery_person")


def __repr__(self):
        return f"<DeliveryPerson(DeliveryID={self.DeliveryID}, AssignedArea='{self.AssignedArea}', Availability='{self.Availability}')>"

In [101]:
from sqlalchemy import Column, Integer, Text, Time, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Delivery(Base):
    __tablename__ = 'Delivery'

    OrderNumber = Column(Integer, ForeignKey('OrderInfo.OrderNumber', ondelete='CASCADE', onupdate='CASCADE'), primary_key=True)
    DeliveryID = Column(Integer, ForeignKey('DeliveryPerson.DeliveryID'), primary_key=True)
    Status = Column(Text)
    DeliveryTime = Column(Time)

    order = relationship("OrderInfo", back_populates="deliveries")
    delivery_person = relationship("DeliveryPerson", back_populates="deliveries")

    def __repr__(self):
        return f"<Delivery(OrderNumber={self.OrderNumber}, DeliveryID={self.DeliveryID}, Status='{self.Status}', DeliveryTime='{self.DeliveryTime}')>"

In [106]:
from sqlalchemy import Column, Integer, Text, Float
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Ingredients(Base):
    __tablename__ = 'Ingredients'

    IngredientID = Column(Integer, primary_key=True, autoincrement=True)
    Name = Column(Text)
    Price = Column(Float)

    pizza_ingredients = relationship("PizzaIngredients", back_populates="ingredient")


def __repr__(self):
        return f"<Ingredients(IngredientID={self.IngredientID}, Name='{self.Name}', Price={self.Price})>"

In [107]:
from sqlalchemy import Column, Integer, Text, Float, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class PizzaIngredients(Base):
    __tablename__ = 'PizzaIngredients'

    PizzaID = Column(Integer, ForeignKey('Pizza.PizzaID', ondelete='CASCADE', onupdate='CASCADE'), primary_key=True)
    IngredientID = Column(Integer, ForeignKey('Ingridients.IngridientID', ondelete='CASCADE', onupdate='CASCADE'), primary_key=True)
    DietaryInfo = Column(Text)
    Price = Column(Float)

    pizza = relationship("Pizza", back_populates="pizza_ingridients")
    ingridient = relationship("Ingredients", back_populates="pizza_ingridients")

    def __repr__(self):
        return f"<PizzaIngridients(PizzaID={self.PizzaID}, IngridientID={self.IngridientID}, DietaryInfo='{self.DietaryInfo}', Price={self.Price})>"