In [ ]:
%%sql
CREATE TABLE Customers (
  `CustomerID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `Gender` TEXT,
  `Address` VARCHAR(255),
  `Birthdate` INTEGER,
  `Phone` INTEGER
);

In [ ]:
%%sql
USE project;

In [ ]:
%%sql
CREATE DATABASE project;

In [19]:
%%sql
CREATE TABLE OrderInfo (
  `OrderNumber` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `CustomerID` INTEGER,
  `Date` Date,
  `Time` Time,
  `Price` DOUBLE,
  FOREIGN KEY (`CustomerID`) REFERENCES Customers (`CustomerID`) 
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [20]:
%%sql
CREATE TABLE MenuItemsOrder (
  `OrderNumber` INTEGER,
  `MenuItemsID` INTEGER,
  FOREIGN KEY (`OrderNumber`) REFERENCES OrderInfo (`OrderNumber`),
  FOREIGN KEY (`MenuItemsID`) REFERENCES MenuItems (`MenuItemsID`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [ ]:
%%sql
CREATE TABLE MenuItems (
  `MenuItemsID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `Price` DOUBLE 
);

In [32]:
%%sql
CREATE TABLE PizzaOrder (
  `OrderNumber` INTEGER,
  `PizzaID` INTEGER,
  FOREIGN KEY (`OrderNumber`) REFERENCES OrderInfo (`OrderNumber`),
  FOREIGN KEY (`PizzaID`) REFERENCES Pizza (`PizzaID`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [28]:
%%sql
CREATE TABLE Pizza (
  `PizzaID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `DietaryInfo` TEXT,
  `Price` DOUBLE
);

In [7]:
%%sql
CREATE TABLE LoginInformation (
  `CustomerID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Username` VARCHAR(255),
  `Password` VARCHAR(255),
  FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [ ]:
%%sql
CREATE TABLE DeliveryPerson (
  `DeliveryID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `AssignedArea` VARCHAR(10),
  `Availability` TEXT
);

In [23]:
%%sql
CREATE TABLE Delivery (
  `OrderNumber` INTEGER,
  `DeliveryID` INTEGER,
   `Status` TEXT,
  `DeliveryTime` Time,
  FOREIGN KEY (`DeliveryID`) REFERENCES DeliveryPerson (`DeliveryID`),
  FOREIGN KEY (OrderNumber) REFERENCES OrderInfo (`OrderNumber`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [ ]:
%%sql

CREATE TABLE Ingridients (
  `IngridientID` INTEGER PRIMARY KEY AUTO_INCREMENT,
  `Name` TEXT,
  `Price` DOUBLE
);

In [24]:
%%sql
CREATE TABLE PizzaIngridients (
  `PizzaID` INTEGER,
  `IngridientID` INTEGER,
  `DietaryInfo` TEXT,
  `Price` DOUBLE,
  FOREIGN KEY (`PizzaID`) REFERENCES `Pizza`(`PizzaID`),
  FOREIGN KEY (`IngridientID`) REFERENCES `Ingridients`(`IngridientID`)
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

In [36]:
%%sql
INSERT INTO Ingridients (Name, Price) VALUES 
   ('Tomato sauce', 0.50),
   ('Mozzarella', 1.00), 
   ('Pepperoni', 1.50), 
   ('Mushrooms', 0.70), 
   ('Olives', 0.40), 
   ('Basil', 0.30),
   ('Onions', 0.20),
   ('Bell Peppers', 0.50),
   ('Sausage', 1.50),   
   ('Pineapple', 1.50);

In [21]:
import sqlalchemy
print(sqlalchemy.__version__)

1.4.39

In [35]:
%%sql
ALTER TABLE Customers MODIFY COLUMN Birthdate DATE;